/* Base Styles -------- */

body{
    margin: 0;
    font-family: Arial;
}

nav {
    background-color: black;
    padding: 1px 0 1px;
}

footer{
    text-align: center;
    padding: 20px 0 20px;
}

h2 {
    text-align: center;
    padding-left: 0;
    margin-bottom:0;
}

h4 {
    margin: 0;
    text-align: center;
}

form {
    padding: 10px 0 10px 30px;
    -webkit-appearance: none;
}

/* ID's --------------- */

#drop {
    margin-right: 50px;
}

#main {
    border: black solid 1px;
    margin: 30px 35% 0 35%;
    background-color: lightgray;
}

#signbtn {
    margin: 0 40% 0 29.5%;
    background: linear-gradient(#ffff00, #b3b300);
    border: black solid 1px;
    border-radius: 5px;
    font-size: 15px;
    height: 30px;
    width: 120px;

}

#btn {
    background: linear-gradient(#ffff00, #b3b300);
    border: black solid 1px;
    border-radius: 5px;
    height: 25px;
    width: 65px;
    margin-left: 10px;
}

#signin {
    padding-bottom: 5px;
}

/* Classes ------------ */

.list {
    list-style-type: none;
}

.inline {
    display: inline-block;
}

.nav-item {
    padding: 10px 20px;
}

.box {
    width: 320px;
    height: 20px;
    border-radius: 5px;
    border: black solid 1px;
}

.gender {
    margin-left: 20px;
}

.error {
    color: red;
    font-size: 12px;
}

/* Pseudo Classes ----- */

.color:link {
    text-decoration: none;
    color: yellow;
}

.color:hover {
    color: #b3b300;
}

.color:visited {
    color: yellow;
}

#log:link {
    text-decoration: none;
    color: black;
}

#log:visited {
    color: black;
}

#signbtn:hover {
    cursor: pointer;
}

#signbtn:active {
    background: linear-gradient(#b3b300, #ffff00);
}

#btn:active {
    background: linear-gradient(#b3b300, #ffff00);
}

.nav-item:hover {
    cursor: pointer;
}

#home:hover {
    color: #b3b300;
}

/* Media -------------- */



/* Drop down ---------- */

.dropbtn {
    background-color: black;
    color: yellow;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
    float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    word-spacing: 0px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: #b3b300;
}