body{
    margin: 0;
    font-family: Arial;
}

footer {
    text-align: center;
    padding: 20px 0 20px;
}

h2 {
    margin-bottom: 5px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    text-align: center;
}

th {
    font-size: 20px;
}

table {
    margin: 10px 20px 10px 20px;
    width: 95%;
}

.btn{
    background: linear-gradient(#ffff00, #b3b300);
    border: black solid 1px;
    border-radius: 5px;
    height: 20px;
    width: 50px;
    font-size: 12px;
}

.error {
    color: red;
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
}

#move {
    margin-left: 3px;
}

#action {
    width: 110px;
}

#main {
    border: black solid 1px;
    margin: 150px 20% 0 20%;
    background-color: lightgray;
}

#btn {
    margin: 0 40% 0 42.35%;
    background: linear-gradient(#ffff00, #b3b300);
    border: black solid 1px;
    border-radius: 5px;
    height: 30px;
    width: 120px;
    font-size: 15px;
}

#btnC {
    margin: 0 40% 0 41.5%;
    background: linear-gradient(#ffff00, #b3b300);
    border: black solid 1px;
    border-radius: 5px;
    height: 30px;
    width: 130px;
    font-size: 15px;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    background: linear-gradient(#b3b300, #ffff00);
}

.btnLink:link {
    text-decoration: none;
    color: black;
}

.btnLink:visited {
    color: black;
}

/* Pagination ----- */

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li #page {
    padding: 8px 16px;
    text-decoration: none;
    color: black;
}

ul.pagination li #page:hover:not(.active) {
    color: #ffff00;
    border: solid 1px black;
    border-radius: 5px;
}

ul.pagination li #page.active {
    background: linear-gradient(#ffff00, #b3b300);
    color: black;
    border: solid 1px black;
    border-radius: 5px;
}

div.center {
    text-align: center;
    padding: 5px 0 10px;
}