{% block sidebar %}
<div id="sidebar">
    <span><strong>Product</strong></span>
    <ul class="sidebar">
        <li class="list"><a href="#men" id="men">Men</a></li>
        <li class="list"><a href="#women" id="women">Women</a></li>
        <li class="list"><a href="#kids" id="kids">Kids</a></li>
        <li class="list"><a href="#shoes" id="shoes">Shoes & Accessories</a></li>
        <li class="list"><a href="#random" id="random">Miscellaneous</a></li>
    </ul>
    <span><strong>Brand</strong></span>
    <ul class="sidebar">
        <li class="list"><a href="#nike" id="nike">Nike</a></li>
        <li class="list"><a href="#adidas" id="adidas">Adidas</a></li>
        <li class="list"><a href="#polo" id="polo">Polo Ralph Lauren</a></li>
        <li class="list"><a href="#levi" id="levi">Levi's</a></li>
        <li class="list"><a href="#champion" id="champion">Champion</a></li>
    </ul>
    <span><strong>Prices</strong></span>
    <ul class="sidebar">
        <li class="list"><a href="#low" id="low">Under $25</a></li>
        <li class="list"><a href="#medlow" id="medlow">$25 - $50</a></li>
        <li class="list"><a href="#medium" id="medium">$50 - $100</a></li>
        <li class="list"><a href="#medhigh" id="medhigh">$100 - $200</a></li>
        <li class="list"><a href="#high" id="high">Above $200</a></li>
    </ul>
</div>
{% endblock %}